.DataInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.DataInput-inner {
  position: relative;
  width: 100%;
  padding: 50px !important;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}

.steps-content {
  height: 50%;
  text-align: center
}

.steps-action {}