.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.shadow-card {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff
}

@import './views/MainView.css';
@import './views/DataInput/DataInput.css';
@import './views/Query/Query.css';
@import './views/Statistics/Statistics.css'